ZIAEndpoint: 'https://scim.zscalertwo.net/'
ZIABearer: '=='
ZPAEndpoint: 'https://scim3.private.zscaler.com/scim/'
ZPABearer: '=='
BindHostPort: 'host:389'
BindUsername: 'ldap@domain'
BindPassword: 'password'
BindDN: 'CN=users,DC=domain'
TopGroupDN: 'CN=Zscaler,CN=users,DC=domain'
ZPAclientId: '=='
ZPAclientSecret: '=='
ZPACompanyID: '1'
ZPAEndpoint: 'https://config.private.zscaler.com'
TopComputerDN: 'CN=computers,DC=domain'
ZPAClientRegex: '^MACHINE[A-Z\d]{4}.domain.net'